///
/// Fractal by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Iran Colors */

	// Iran Green, Iran White, and Iran Red (Green-White-Red Iranian Flag)
	.iran_green {
		color: #239F40 !important;
		// background-color: rgba(0,0,0,0.5);
	}

	.iran_white {
		color: #FFFFFF !important;
		// background-color: rgba(0,0,0,0.5) !important;
	}

	.iran_red {
		color: #DA0000 !important;
		// background-color: rgba(0,0,0,0.5);
	}
