///
/// Fractal by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Section/Article */

	section, article {
		&.special {
			text-align: center;
		}
	}

	header {
		p {
			position: relative;
			margin: 0 0 (_size(element-margin) * 0.75) 0;

			font-size: 1.25em;

			// Small.
				@include breakpoint('<=small') {
					br {
						display: none;
					}
				}
			
		}

		h3 + p {
			font-size: 1.1em;
			margin-top: (_size(element-margin) * -0.125);
			line-height: 1.5em;
		}

		h4 + p,
		h5 + p,
		h6 + p {
			font-size: 0.9em;
			margin-top: (_size(element-margin) * -0.3);
			line-height: 1.5em;
		}

		&.major {
			margin: 0 0 (_size(element-margin) * 1.25) 0;
			text-align: center;

			h2 {
				font-size: 1.5em;
				margin-top: (_size(element-margin) * -0.25);
				line-height: 1.5em;
			}

			p {
				line-height: 1.5em;
			}

			ul {
				font-size: 1.25em;
				line-height: 1.5em;
				li {
					padding-bottom: 1.5em;

					&:last-of-type {
						padding-bottom: 0;
					}
	
				}
			}

			&:after {
				content: '';
				border-bottom: solid (_size(border-width) * 2) _palette(border);
				display: block;
				width: 4em;
				margin: _size(element-margin) auto 0 auto;
			}

			// Small.
				@include breakpoint('<=small') {
					margin: 0 0 _size(element-margin) 0;

					p,ul {
						font-size: 1em;
					}
				}

		}
	}